<% layout('layouts/user') %>

<h2>Welcome, <%= user.firstName || user.username %>!</h2>
<p>
<% if (lastLoginTime) { %>
  <p>
    Last login: <strong><%= lastLoginTime.toUTCString() %></strong>
    <% if (lastLoginLocation) { %>
      from <%= lastLoginLocation %>
    <% } %>
    <% if (lastLoginDevice) { %>
      using <%= lastLoginDevice %>
    <% } %>
  </p>
<% } %>
</p>