<% layout('layouts/user') -%>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Devices</h1>
  <p>List and manage your connected devices here, <%= user.firstName %>.</p>
</body>
</html>
